/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }
  
  .resize {
    width: 400px;
    height: auto;
}


  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  
input, button, h1, h2, h3 {
    display: flex;
    justify-content: center;
}